@font-face {
  font-family: 'kongtext';
  src: local('kongtext'), url(./Misc/kongtext/kongtext.ttf) format('truetype');
}
body{
  font-family: 'kongtext';
  background: url("./Misc/parallax_mountain_pack/layers/parallax-mountain-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.columnOne {
  float:left;
  margin-top:30px;
  margin-left:100px;
}

.columnOne h2{
  margin-left:75px;
  color:black;
}
.columnTwo{
  float:right;
  margin-top:30px;
  margin-right:200px;
}

.nes-container {
 width:600px;
 height:600px;
background: #ffc4e1;
}
.tab {
  overflow: hidden;
  margin:-5px;
  padding-left:12px;
}
.tablinks{
  margin-right:-17px;
}
.tabContent{
  display:none;
  border-top:none;
}
.email .tooltip{
  visibility: hidden;
  position: absolute;
  z-index:1;
  font-size: 13px;
  width:165px;
  font-family:arial;
  text-align:center;
  background-color:black;
  color: #fff;
  border-radius:5px;
  padding:5px 0;
  margin-top:35px;
  margin-left:-15px;
}
.email:hover .tooltip{
    visibility: visible;
}
#infoBox {
  float:right;
  width:600px;
  height:600px;
}
#wrapper{
  margin-top:7%;
  margin-left:auto;
  margin-right:auto;
  width:1500px;
}
#contactLinks{
  margin-top:25px;
  margin-left:100px;
}
