

@font-face {
  font-family: 'kongtext';
  src: local('kongtext'), url(./Misc/kongtext/kongtext.ttf) format('truetype');
}

body{
  margin:0;
  font-family: 'kongtext';
}

html{
  background: url("./Misc/parallax_mountain_pack/layers/parallax-mountain-bg.png")no-repeat center center fixed;
  background-size:cover;
}
.columnOne {
  position:relative;
  float:left;
  left:20%;
  top:150px;
}

.columnOne h2{
  margin-left:60px;
  color:black;
}
.columnTwo{
  position:relative;
  float:right;
  margin-top:30px;
  margin-left:20%;
  right:20%;
  top:150px;
}

.nes-container {
 width:100%;
 height:100%;
background: #ffc4e1;
}
.tab {
  overflow: hidden;
  margin:-5px;
  padding-left:12px;
}
.tablinks{
  margin-right:-17px;
}
.tabContent{
  display:none;
  border-top:none;
}
.email .tooltip{
  visibility: hidden;
  position: absolute;
  z-index:1;
  font-size: 13px;
  width:165px;
  font-family:arial;
  text-align:center;
  background-color:black;
  color: #fff;
  border-radius:5px;
  padding:5px 0;
  margin-top:35px;
  margin-left:-15px;
}
.email:hover .tooltip{
    visibility: visible;
}
#infoBox {
  float:right;
  width:600px;
  height:600px;
}
#wrapper{
  margin:0 auto;
  width:100%;
}
#contact {
  margin-top:30px;
  margin-bottom:25px;
  text-align: center;
  margin-left:45px;
}
#contactLinks{
  margin-left:95px;
}
/*mobile view*/
/*Assume max width or 480px
@media screen and (max-width:680px) {
  .columnOne {
    position:relative;
    float:left;
    margin-top:30px;
    left:150px;
  }
  .columnTwo{
    float:right;
    margin-top:30px;
  }

 #wrapper{
   margin:0 auto;
   width:100%;
 }
 #infoBox{
   float: none;
   width:100%;
 }*/
}
